name: Publish CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - name: Install
        run: |
          npm install -g yarn
          yarn
        env:
          CI: "true"
      - name: Build
        run: |
          yarn build
        env:
          CI: "true"
      - name: Check Circular Dependencies
        run: |
          yarn circular
        env:
          CI: "true"
      - name: Test
        run: |
          yarn test --run --coverage
        env:
          CI: "true"
      - name: Examples
        run: |
          cd packages/stdlib
          node build/examples/main.js
        env:
          CI: "true"
      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
